*{
  text-align: center;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputPeso, .inputAltura{
  display: flex;
  align-items: center;
  justify-content: center;
}
#altura, #peso{
  width: 90px;
  height: 2em;
  border: 1px solid black;
  margin-right: 3px;
}

.buttons{
  margin: 0 auto;
  width: 180px;
  display: flex;
  justify-content: space-between;
}